<div id="map"></div>
<script>
	$(function() {
	    map = new GMaps({
		  div: '#map',
		  lat: 46.119944,
		  lng:  14.815333,
		  zoom: 8
		});
		
		var restaurants = <%= @restaurants.to_json.html_safe %>,
        marker = [],  
			  restaurant,
			  content;
        
    marker[0] = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|ffe7c8", new google.maps.Size(21, 34), new google.maps.Point(0,0), new google.maps.Point(10, 34));
    marker[1] = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|ffcc95", new google.maps.Size(21, 34), new google.maps.Point(0,0), new google.maps.Point(10, 34));
    marker[2] = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|ffad60", new google.maps.Size(21, 34), new google.maps.Point(0,0), new google.maps.Point(10, 34));
    marker[3] = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|ff8c1f", new google.maps.Size(21, 34), new google.maps.Point(0,0), new google.maps.Point(10, 34));
    marker[4] = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|e04f00", new google.maps.Size(21, 34), new google.maps.Point(0,0), new google.maps.Point(10, 34));
	
		for (var i = 0; i < restaurants.length; i++) {
			restaurant = restaurants[i];
			content = '<h4>' + restaurant['name'] + '</h4>';
			content += '<address>' + restaurant['address'] + '</address>';
			content += '<p>' + restaurant['price'] + '</p>';
			map.addMarker({
			  lat: restaurant['coordinates'][0],
			  lng: restaurant['coordinates'][1],
			  title: restaurant['name'],
        icon: marker[restaurant['price'][0]],
			  infoWindow: {
			    content: content
			  }
			});
		};
    });
	
	if (navigator.geolocation) {
	  navigator.geolocation.getCurrentPosition(success, error);
	} else {
	  alert('geolocation not supported');
	}

	function success(position) {
		map.setZoom(15);
		var center = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
		map.panTo(center);
	}

	function error(msg) {
	  alert('error: ' + msg);
	}
</script>