<input type="text" id="restaurantSearch" placeholder="Išči"></input>
<div id='map'></div>
<%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=true' %>
<%= javascript_include_tag 'prehrana' %>