<div id="searchBar"><input type="text" id="restaurantSearch" placeholder="Išči"></input><a href="#" id="geolocateIcon"><img height="18px" width="18px" src="<%= path_to_image 'locate.svg' %>"></a></div>
<div id='map'></div>
<%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=true' %>
<%= javascript_include_tag 'prehrana' %>