// Place all the styles related to the prehrana controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, .container, #map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#restaurantSearch {
  position: absolute;
  width: 60%;
  bottom: 5%;
  margin: 0 20%;
  z-index: 10;
}

#map {
  .prehrana_info {
    overflow: hidden;
    max-width: 250px;
  }
  
  a {
    color: #ff8c1f;
  }
  
  a:hover {
    color: #ffad60;
    text-decoration: none;
  }

  address, p   {
    margin-top: 6px;
    font-style: normal;
  }
}
