// Place all the styles related to the prehrana controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, div, h1, h2, h3, h4, h5, h6, p, address, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 1;
}

html, body, .container, #map {
  height: 100%;
}

#searchBar {
  position: absolute;
  width: 60%;
  bottom: 5%;
  margin: 0 20%;
  z-index: 10;
}

#restaurantSearch {
  width: 80%;
}

#geolocateIcon {
  display: none;
  margin-left: 5px;
  
  img {
    vertical-align: middle;
  }
}

#map {  
  .prehrana_info {
    max-width: 250px;
    padding-bottom: 2px;
  }
  
  .menu {
    list-style: disc inside;
  }
  
  a {
    color: #ff8c1f;
    font-weight: bold;
  }
  
  a:hover {
    color: #ffad60;
    text-decoration: none;
  }

  address, p, ul   {
    margin-top: 5px;
    font-style: normal;
  }
}
