// Place all the styles related to the prehrana controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



html, body, .container, #map {
  width: 100%;
  height: 100%;
}

#map {
  img { 
   max-width: none;
  }
  
  label { 
   width: auto;
   display:inline; 
  }
}