- flash.each do |name, msg|
  %div{class: "alert alert-dismissable alert-#{name == :notice ? "success" : "danger"}"}
    %button.close{"data-dismiss" => "alert", type: "button"} ×
    = content_tag :div, msg, id: "flash_#{name}"